In [7]:
# home work day 3
### Exercise #1 <br>
#<p>Filter out all of the empty strings from the list below</p>

#Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [8]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]
# using filter() to
# perform removal
places = list(filter(None, places))
#
 
# Print/ This mehtod I got sample online did not remove the empty strings for for
print(str(places))

#using while in places remove " " gave me the closest outcome

while ' ' in places:
    places.remove(' ')
    print(places)

[' ', 'Argentina', ' ', 'San Diego', '  ', 'Boston', 'New York']
[' ', 'Argentina', ' ', 'San Diego', '  ', 'Boston', 'New York']
['Argentina', ' ', 'San Diego', '  ', 'Boston', 'New York']
['Argentina', 'San Diego', '  ', 'Boston', 'New York']

In [11]:
### Exercise #2 <br>
#<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

#Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

# used a sample that worked with this data set. I foced on learnd on how the key function works with lambanda and finding that -1 sorts the list with the last name

author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]
sortt = sorted(author, key=lambda name: name.split(" ")[-1].lower())
print(sortt)

TypeError: sorted expected 1 argument, got 2

In [ ]:
### Exercise #3 <br>
#<p>...</p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda
#Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]

In [12]:
# F = (9/5)*C + 32
newplaces = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]
#celtofen represets the first and second string and integer with in each tupile# integer [0] represents the first and [1] represents celsius in tupil

newplaces = list(map(lambda celtofen:  (celtofen[0], (9/5) * celtofen[1]+ 32), newplaces))
print(newplaces)

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]